apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: {{ monitoring_namespace }}
  annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port:   '9090'
spec:
  selector: 
    app: prometheus-server
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 9090