apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: {{ monitoring_namespace }}
data:
  grafana.ini: |
    [server]
    # The full public facing url you use in browser, used for redirects and emails
    # If you use reverse proxy and sub path specify full url (with sub path)
    root_url = http://personal.omnireborn.io/grafana
